body {
background-color: lightgrey;
}

h1 {
color: navy;
margin-left: 20px;
} 

#underConstruction {
color: red;
font-family: bold;
text-size: 200%;
}

#imgUnderConstruction {
border: 2px;
padding: 2px;
}
